---
---

@import "{{ site.theme }}";

body {
    background-color: #F2E9E4;
    color: #22223B;
}

h1, h2, h3 {
    color: #5E5E75;
}

h1 a {
    color: #5E5E75;
}

h3 {
    color: #4A4E69;
}

a {
    color: #7FB8E1;
}

a:hover {
    color: #7FB8E1;
}

.highlight {
    background-color: #C9ADA7;
}

.highlight .err {
    color: #363852;
    background-color: #C9ADA7;
}

code {
    color: #363852;
}